.d{
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 82.36px;
    row-gap: 65.99px;
    margin-bottom: 61.63px;
}

.Camnon > p:first-child{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color:#1C690F;
    margin-bottom: 8px;

}

.Camnon > img{
    height: auto;
}

 p > span{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color:#1C690F;

}

.Camnon > p:nth-child(2){
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:#999999;
    margin-bottom: 8px;
}

.Camnon > p:nth-child(3){
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color:#181818;
    margin-bottom: 17.33px;

}

.Camnon > p:nth-child(4){
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    margin-bottom: 12.8px;


}

.pagination {
    display: flex;
    justify-content: center;
    gap:3px;
  }
  
  .pagination a {
    color: #999999;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    width:40px;
    height: 40px;

  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 8px;
}

.lo{
    margin-bottom: 56px;
}

 .Camnon > p:nth-child(4){
    text-align: justify;
}


@media (max-width:1188px) {
    .d{
        grid-template-columns: 1fr 1fr;
    }

    .Camnon img{
        width:100%;
    }
}

@media (max-width:680px) {
    .d{
        grid-template-columns: 1fr;
    }

    .Camnon img{
        width:100%;
    }
}
