.gg.flex{
    margin-top: 71px;
    flex-direction: column;
    gap:0px;
    justify-content: center;
    align-items: center;
}

.sed{
    margin-top:37.38px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color:#1C690F;
}

.des{
    width:278px;
    margin-top: 18px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color:#999999;
}

.fr{
    width:203px;
    height:50px;
    margin-top: 37.92px;
}

.gr{
    margin-top: 19.08px;
    background-color:white;
    color:#1C690F;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;

}

.container{
    height:800px;
}

@media (max-width:443px) {
    .gg{
        margin-top:50px !important;
    }

    .sed{
        font-size: 28px;
    }

    img:nth-child(2){
        width: 20%;
        height:auto;
    }

    .des{
        white-space: wrap;
    }

    .fr{
        width:150px;
        height:45px;
    }

    .container{
        height:500px;
    }


    .icons img:nth-child(2){
        display:none;
    }
}
